.fondo_estu {
  background-image: url("../json/imagenes/1.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  text-align: center;
}

.cont_home_estu {
  background-color: #fff;
  border-radius: 30px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tex_home_estu h1 {
  font-size: 36px;
  color: #1f718f;
  margin: 10px 0;
}

.detalle_cliente_container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 80%;
  margin-top: 20px;
}

.detalle_cliente_container p {
  margin: 10px 0;
  font-size: 16px;
}

.boton_eliminar,
.boton_editar,
.boton_guardar,
.boton_cancelar {
  padding: 10px 20px;
  margin: 0 20px;
  margin-bottom: 20px;
  background-color: #1f718f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
